
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     height: 100%;
}
body{
     height: 100%;
     border: 5px;
     font-family: 'Quicksand', sans-serif;
   color: white;
   background-color: #18122B;;
   background-image: url('imagenes/esferas-fondo.jpg' );
   background-size: cover;
   background-position: center;
   overflow-y: hidden; /* saca barra derecha*/
}

/*ICONO ENCABEZADO */
.Icono_encabezado{

     font-size: 55PX;
     position: relative;
     padding-left: 3%;
     top: 5%;
     color: white;


}


/* ENCABEZADO */
.transparente-boton {
  position: relative;
  top: 50%;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}
/* MENU Y  HOVER  */


.Menu{
    text-align: right;
    padding-right: 15%;
  position: relative;
  bottom: -30%;
  color: white;
 
}
.Menu li {
  font-size: 20px;
  padding: 10px;
  

}
span{
     color: #635985;
}

/* hover interativo*/
.hover-underline-animation {
     display: inline-block;
     position: relative;
     color: white;
   }

   .hover-underline-animation::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color :white;
     transform-origin: bottom right;
     transition: transform 0.55s ease-out;
   }
   
   .hover-underline-animation:hover::after {
     transform: scaleX(1);
     transform-origin: bottom left;
   }


   /* body */
   .Parte1Body{

     text-align: left;
     padding-left: 20%;
   position: relative;
   bottom: 5%;
   }

   .Parte1Body h1{
font-size: 500%;
   }
   .Parte1Body p{
     font-size: 150%;
        }


.BloqueIconos{
position: relative;
top: 10%;
align-items: center;
padding-left: 2%;
font-size: 30px;
}
.BloqueIconos a{
  color: white;
}

.BloqueIconos i :active{
     color: white;
}

.BloqueIconos i {
     padding: 20px;
}


 